<% if (showFooter === true) { %>

  <footer class="bg-dark py-3">
    <p class="text-white text-center mb-0">&copy; <span class="text-danger"></span></p>
  </footer>

<% } %>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>